/* style = {{display: "flex", flexDirection: "column", alignSelf: "center", justifyContent: "center", marginRight: "auto", marginLeft: "auto", width: "50vw"}} */

.bio{
	max-width: 40vw;
}

.pin--vertical--strikethrough {
    height: 20vh;
    position: absolute;
    top: 85vh;
    left: 50%;
    z-index: 12;
    width: 1px;
	background: linear-gradient(180deg,#999999,#999999 50%,rgba(0,0,0) 0,rgba(0,0,0));
    background-position: 0 0;
	background-size: 100% 200%;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
	box-sizing: border-box;
	display: block;
}

@media (max-width: 1199px) {
	[class*="pin--vertical--strikethrough"] {
	display: none;
	opacity: 0%;
  }
	[class*="bio"] {
    max-width: 90vw;
    margin-top: 7vh;
  }
  	[class*="biocontainer"] {
    background: whitesmoke;
    margin-top: -7%;
    padding-bottom: 5vh;
  }
}